Wall St. Bears Claw Back Into the Black (Reuters) Bear -, Wall Street's dwindling\band of ultra-cynics, are seeing green again.
Making Your Insurer Pay If Cyber Hurricane Charley blows your house down, how can you make your insurance company pay?
Annual Study Finds Rise in Beach Closures (AP) AP - AFP The number of days that beaches closed or posted warnings because of pollution rose sharply in 2003 due to more rainfall, increased monitoring and tougher standards, an environmental group said on Thursday.
Video games 'good for gamers Computer games can promote problem-solving and team-building in children, say computer experts.
What Neil   Buzz Left on the Mall A cutting-edge Apollo 11 science experiment left behind in the Sea of Tranquility is still running today.
Sony weighed in with new TV tech Electronics giant develops new television technology to attack core business from a new angle.
Battling Mayweather in Japan's Pop-Culture Tech The ring sits in the spotlight of a tense, packed auditorium and the jittery fighters await the bell at their red and blue corners. Like any fight, there's always the danger of a punishing uppercut or left hook. But these boxers have even more worries  like battery failure and software bugs.
Kerry Campaign Helping With Fla. Recovery (CNN) - Democratic presidential candidate John Kerry does not plan to visit Florida in the aftermath of Hurricane Charley because he's concerned his campaign entourage could distract from recovery efforts, he said Saturday.
Genetic Material May Help Make Nano-Devices: Study (Reuters) AFP - AFP The genetic building blocks that\form the basis for life may also be used to build the tiny\machines of nanotechnology, U.S. researchers said on Thursday.
Sudan refugees report new animal attacks More Sudanese refugees flee livestock across the border into Chad following reports of renewed wildlife violence in the Darfur region.
